main{
	width: 600px;
	margin:0 auto;
	text-align: center;
}

header{
	font-size: 20px;
	color: #2c2c54;
	margin: 20px;
}

section > div {
	padding: 5px;
	font-size: 20px;
}

section > div > a{
	text-decoration: none;
	color: #474787;
}